@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--background: hsl(240, 8%, 95%);
	--foreground: hsl(240, 8%, 5%);

	--card: hsl(240, 10%, 94%);
	--card-foreground: hsl(240, 8%, 5%);

	--popover: hsl(240, 10%, 94%);
	--popover-foreground: hsl(240, 8%, 5%);

	--primary: hsl(240, 40%, 82%);
	--primary-foreground: hsl(240, 9%, 2%);

	--secondary: hsl(240, 12%, 91%);
	--secondary-foreground: hsl(240, 8%, 5%);

	--muted: hsl(240, 8%, 91%);
	--muted-foreground: hsl(240, 9%, 45%);

	--accent: hsl(240, 8%, 91%);
	--accent-foreground: hsl(240, 8%, 5%);

	--destructive: hsl(0, 84%, 60%);
	--destructive-foreground: hsl(0, 0%, 98%);

	--border: hsl(240, 9%, 87%);
	--input: hsl(240, 9%, 80%);
	--ring: hsl(240, 36%, 72%);

	--radius: 0.5rem;
}

.dark {
	--background: hsl(260, 7%, 8%);
	--foreground: hsl(300, 9%, 98%);

	--card: hsl(240, 6%, 10%);
	--card-foreground: hsl(300, 9%, 98%);

	--popover: hsl(240, 6%, 10%);
	--popover-foreground: hsl(300, 9%, 98%);

	--primary: hsl(254, 20%, 34%);
	--primary-foreground: hsl(300, 9%, 98%);

	--secondary: hsl(255, 8%, 19%);
	--secondary-foreground: hsl(300, 9%, 98%);

	--muted: hsl(251, 7%, 29%);
	--muted-foreground: hsl(255, 8%, 49%);

	--accent: hsl(254, 71%, 19%);
	--accent-foreground: hsl(300, 9%, 98%);

	--destructive: hsl(0, 84%, 60%);
	--destructive-foreground: hsl(0, 0%, 98%);

	--border: hsl(252, 8%, 12%);
	--input: hsl(255, 9%, 18%);
	--ring: hsl(253, 20%, 40%);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
