PORT=4000
API_URL=localhost:4000
API_HOSTNAME=localhost
CLIENT_URL=localhost:3000

GOOGLE_CLIENT_ID=string
GOOGLE_CLIENT_SECRET=string

SUPABASE_AUTH_PUB_KEY=string
SUPABASE_AUTH_PRIVATE_KEY=string
SUPABASE_AUTH_PROJECT_URL=string
SUPABASE_JWT_SECRET=string
SUPABASE_SERVICE_ROLE=string

BELVO_SECRET_ID=string
BELVO_SECRET_PASSWORD=string
